In [1]:
import pandas as pd
import numpy as np

In [ ]:
pip install pandas

In [ ]:
pip install numpy

In [8]:
df=pd.read_csv("train.csv")

In [9]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [10]:
columns_to_drop=['id','author']

In [11]:
df=df.drop(columns=columns_to_drop)

In [12]:
df.head()

,title,text,label
0,House Dem Aide: We Didn’t Even See Comey’s Let...,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Ever get the feeling your life circles the rou...,0
2,Why the Truth Might Get You Fired,"Why the Truth Might Get You Fired October 29, ...",1
3,15 Civilians Killed In Single US Airstrike Hav...,Videos 15 Civilians Killed In Single US Airstr...,1
4,Iranian woman jailed for fictional unpublished...,Print \nAn Iranian woman has been sentenced to...,1

In [13]:
selected_columns=['title','text']
target=['label']

In [14]:
X=df[selected_columns]
y=df[target]

In [15]:
X.head()

,title,text
0,House Dem Aide: We Didn’t Even See Comey’s Let...,House Dem Aide: We Didn’t Even See Comey’s Let...
1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Ever get the feeling your life circles the rou...
2,Why the Truth Might Get You Fired,"Why the Truth Might Get You Fired October 29, ..."
3,15 Civilians Killed In Single US Airstrike Hav...,Videos 15 Civilians Killed In Single US Airstr...
4,Iranian woman jailed for fictional unpublished...,Print \nAn Iranian woman has been sentenced to...

In [16]:
y.head()

   label
0      1
1      0
2      1
3      1
4      1

In [ ]:
pip install scikit-learn

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [18]:
tfidf=TfidfVectorizer()

In [19]:
X_data=tfidf.fit_transform(X)

In [20]:
tfidf_df=pd.DataFrame(X_data.toarray(),columns=tfidf.get_feature_names_out())

In [21]:
tfidf_df.head()

   text  title
0   0.0    1.0
1   1.0    0.0

In [22]:
print(tfidf_df)

   text  title
0   0.0    1.0
1   1.0    0.0

In [23]:
from tensorflow.keras.layers import TextVectorization

In [28]:
x = df['text']
y = df[df.columns[2:]].values

In [29]:
import tensorflow as tf
from tensorflow.keras.layers import TextVectorization
import pandas as pd
import numpy as np

# Sample data (replace with your actual DataFrame)
# df = pd.DataFrame({'comment_text': [...], ... })

# Select the 'comment_text' and label columns
x = df['text'].astype(str)  # Convert text to string to avoid any issues
y = df[df.columns[2:]].values       # Assuming labels are in columns 2 and onwards

# Handle missing values in 'comment_text' if necessary
x = x.fillna('')  # Replace NaN with an empty string or some placeholder

# Define TextVectorization layer
MAX_FEATURES = 200000
vectorizer = TextVectorization(
    max_tokens=MAX_FEATURES,
    output_sequence_length=1800,
    output_mode='int'
)

# Adapt the vectorizer to the text data
vectorizer.adapt(x)

# Vectorize the text data
vectorized_text = vectorizer(x)

# Ensure vectorized_text is in the correct format for TensorFlow
vectorized_text = tf.convert_to_tensor(vectorized_text)

# Create a TensorFlow dataset
dataset = tf.data.Dataset.from_tensor_slices((vectorized_text, y))

# Dataset operations
dataset = dataset.cache()
dataset = dataset.shuffle(160000)  # Adjust buffer size if needed
dataset = dataset.batch(16)
dataset = dataset.prefetch(8)

# Get the number of batches
dataset_length = len(list(dataset))
print(f"Length of the dataset: {dataset_length}")

Length of the dataset: 1300

In [ ]:
test=pd.read_csv('test.csv//test.csv')

In [53]:
test.head()

,id,title,author,text,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 737,Unnamed: 738,Unnamed: 739,Unnamed: 740,Unnamed: 741,Unnamed: 742,Unnamed: 743,Unnamed: 744,Unnamed: 745,Unnamed: 746
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning...","PALO ALTO, Calif. — After years of scorning...","PALO ALTO, Calif. — After years of scorning...","PALO ALTO, Calif. — After years of scorning...","PALO ALTO, Calif. — After years of scorning...","PALO ALTO, Calif. — After years of scorning...","PALO ALTO, Calif. — After years of scorning...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
test=test.drop(columns=columns_to_drop)

In [55]:
x_test = df['text']

In [56]:
import tensorflow as tf
from tensorflow.keras.layers import TextVectorization
import pandas as pd
import numpy as np

# Sample data (replace with your actual DataFrame)
# df = pd.DataFrame({'comment_text': [...], ... })

# Select the 'comment_text' and label columns
x_test = df['text'].astype(str)  # Convert text to string to avoid any issues

# Handle missing values in 'comment_text' if necessary
x_test = x_test.fillna('')  # Replace NaN with an empty string or some placeholder

# Define TextVectorization layer
MAX_FEATURES = 200000
vectorizer = TextVectorization(
    max_tokens=MAX_FEATURES,
    output_sequence_length=1800,
    output_mode='int'
)

# Adapt the vectorizer to the text data
vectorizer.adapt(x_test)

# Vectorize the text data
vectorized_text = vectorizer(x_test)

# Ensure vectorized_text is in the correct format for TensorFlow
vectorized_text = tf.convert_to_tensor(vectorized_text)

# Create a TensorFlow dataset
dataset_test = tf.data.Dataset.from_tensor_slices((vectorized_text))

# Dataset operations
dataset_test = dataset_test.cache()
dataset_test= dataset_test.shuffle(160000)  # Adjust buffer size if needed
dataset_test = dataset_test.batch(16)
dataset_test= dataset_test.prefetch(8)

# Get the number of batches
dataset_length_test = len(list(dataset_test))
print(f"Length of the dataset: {dataset_length_test}")

Length of the dataset: 1300

In [57]:
# Split the dataset into training, validation, and test sets
train = dataset.take(int(len(dataset) * 0.7))
val = dataset.skip(int(len(dataset) * 0.7)).take(int(len(dataset) * 0.2))
test = dataset.skip(int(len(dataset) * 0.9)).take(int(len(dataset) * 0.1))

# Verify the lengths
print(f"Training set length: {len(list(train))}")
print(f"Validation set length: {len(list(val))}")
print(f"Test set length: {len(list(test))}")

Training set length: 909
Validation set length: 260
Test set length: 130

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM,Dropout,Bidirectional,Dense,Embedding
from tensorflow.keras.utils import plot_model
model = Sequential()
model.add(Embedding(MAX_FEATURES+1, 32))

model.add(Bidirectional(LSTM(32 , activation = 'tanh')))
model.summary()
plot_model(model, to_file='model_plot.png', show_shapes=True, show_layer_names=True)
model.add(Dense(128,activation = 'relu'))
model.summary()

model.compile(loss='binary_crossentropy', optimizer='Adam')
model.add(Dense(256,activation = 'relu'))
model.add(Dense(128,activation = 'relu'))

model.add(Dense(1,activation = 'sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='Adam')
model.summary()
plot_model(model, to_file='model_plot.png', show_shapes=True, show_layer_names=True)

In [ ]:
pip install pydot

In [ ]:
history = model.fit(train, epochs=10, validation_data=val)

In [36]:
input_text = vectorizer('Russian warships ready to strike terrorists near Aleppo 08.11.2016 | Source: Source: Mil.ru Attack aircraft of the Russian aircraft carrier Admiral Kuznetsov get ready to strike terrorists positions in the vicinity of Aleppo, sources at the Russian Defense Ministry said, RBC reports. Insurgents attempts to break into Aleppo from outside are meaningless," the source said. The main task of the aircraft carrier aviation group is to strike missile and air blows on the terrorists , whose goal is to enter Aleppo. After the attacks on terrorists positions, one will have to forget about the support for insurgents from the outside, the source said. The Russian group in the Mediterranean Sea consists of the Admiral Kuznetsov aircraft carrier , the heavy nuclear missile cruiser Pyotr Velikiy (Peter the Great) and large anti-submarine ships Severomorsk and Vice-Admiral Kulakov. Russia has increased intelligence activities in Syria to establish the areas, where terrorists are concentrated, as well as the routes that they use to move from one area to another. The militants took advantage of the humanitarian pause and regrouped their forces to prepare for a new breakthrough into the eastern part of Aleppo," the source added. According to the source, Russia will use new weapons during the upcoming attacks on terrorists . It was said that the Russian warships in the Mediterranean Sea will launch Caliber cruise missiles, although it was not specified which ships would be responsible for the launches. Pravda.Ru Russian warships travel to Syria')
res = model.predict(np.expand_dims(input_text,0))
(res > 0.5).astype(int)

1/1 [==============================] - 1s 514ms/step

array([[1]])

In [ ]:
pip install gradio

In [ ]:
# Assuming 'model' is your Keras model
model.save('my_model.h5')

In [ ]:
import tensorflow as tf

model = tf.keras.models.load_model('my_model.h5')

In [31]:
from tensorflow.keras.preprocessing.text import Tokenizer
import pickle
tokenizer = Tokenizer(num_words=10000)  # Adjust the number based on your dataset
# Fit the tokenizer on your training data during the training process:
tokenizer.fit_on_texts(x)
# Save the tokenizer:
with open('tokenizer.pickle', 'wb') as handle:
    pickle.dump(tokenizer, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [43]:
from sklearn.feature_extraction.text import CountVectorizer
import pickle


# Create and fit the vectorizer
vectorizer = CountVectorizer()
vectorizer.fit(x)

# Save the vectorizer
with open('vectorizer.pickle', 'wb') as vectorizer_file:
    pickle.dump(vectorizer, vectorizer_file)

In [2]:
import gradio as gr
import numpy as np
import pickle
import tensorflow as tf

# Load your model and vectorizer
model = tf.keras.models.load_model('my_model.h5')

with open('vectorizer.pickle', 'rb') as vectorizer_file:
    vectorizer = pickle.load(vectorizer_file)

def predict_fake_news(input_text):
    # Vectorize the input text
    input_vector = vectorizer.transform([input_text])
    
    # Make prediction
    res = model.predict(input_vector)
    
    # Return prediction result (1 for fake news, 0 for real news)
    return int(res[0])

# Create Gradio interface
iface = gr.Interface(
    fn=predict_fake_news,
    inputs=gr.Textbox(label="Enter news article text"),
    outputs=gr.Label(label="Prediction (1: Fake News, 0: Real News)"),
    title="Fake News Detector",
    description="Enter a news article to predict if it's fake or real."
)

# Launch the interface
iface.launch()

C:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:376: InconsistentVersionWarning: Trying to unpickle estimator CountVectorizer from version 1.0.2 when using version 1.5.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

Running on local URL:  http://127.0.0.1:7860

To create a public link, set `share=True` in `launch()`.

1/1 [==============================] - 17s 17s/step
1/1 [==============================] - 14s 14s/step
1/1 [==============================] - 14s 14s/step
1/1 [==============================] - 13s 13s/step

##